<header class="section-header">
  <h1>{{ shop.name }}</h1>
  <!-- Main menu -->
  <ul>
    {% for link in linklists.main-menu.links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %}
  </ul>
</header>