<div class="account-info">
  {% comment %} <div class="form-avatar">
            <img src="{{customer.}}" alt="avatar" sizes="" srcset="" width="100px" height="100px">
      </div> {% endcomment %}

  <div class="form-group">
    <label for="fullname">Fullname</label>
    <input
      type="text"
      id="fullname"
      value="{{customer.name}}"
      name="customer[name]">
  </div>

  <div class="form-group">
    <label for="email-account">Email:
    </label>
    <input
      type="email"
      name="customer[email]"
      id="email-account"
      value="{{customer.email}}">
  </div>

  <div class="form-group">
    <label for="address-account">Address:
    </label>
    <input
      type="text"
      name="address[address1]"
      id="address-account"
      value="{{customer.default_address.address1}}">
  </div>
</div>