{% layout none %}

<h2 style="font-weight: 700; font-size: 20px; text-align: center;">Login page</h2>
<div class="login-form" style="display: flex; justify-content: center">
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}

    <div class="login-container">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="customer[email]"
          required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="customer[password]"
          required>
      </div>
      <button type="submit" style="padding: 10px; border-radius: 10px;">Login</button>
    </div>
  {% endform %}
</div>

<style>
</style>