{% layout none %}

<h2 style="font-weight: 700; font-size: 20px; text-align: center;">Register page</h2>
<div class="login-form" style="display: flex; justify-content: center">
  {% form 'create_customer' %}
    {{ form.errors | default_errors }}

    <div class="login-container">
      <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text" name="customer[first_name]">
      </div>
      <div class="form-group">
        <label for="last-name">Last name</label>
        <input type="text" name="customer[last_name]">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="customer[email]">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="customer[password]">
      </div>
      <button type="submit" style="padding: 10px; border-radius: 10px;" value="Create">Register</button>
    </div>
  {% endform %}
</div>