<h2>{{ collections['frontpage'].title }}</h2>

<a href="/collections">All collections</a>
<div id="products-recommendation">
  {% for product in collections['automated-collection'].products %}
    {% render 'product'
      , product: product %}
  {% endfor %}
</div>